.report-table{
    font-size: 1.1rem;
    font-weight: bold;
}
.report-table tbody tr td:nth-child(1){
    font-weight: bold;
    color: #523629;
}
.report-table tbody tr td:nth-child(2){
    color: var(--bs-danger);
}
.report-table tbody tr td:nth-child(3){
    color: var(--bs-primary);
}